<!-- photo-upload.component.html -->
<div class="main-container">
    <app-admin-nav-bar></app-admin-nav-bar>
    <div id="content-wrapper" class="d-flex flex-column content-container">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
  
          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <h2 class="mb-4">Update Profile</h2>
            </div>
          </form>
  
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>
  
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                <img class="img-profile rounded-circle" src="assets/img/undraw_profile.svg">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
  
        <div class="formbold-main-wrapper">
          <div *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }}
        </div>
          <div class="formbold-form-wrapper">
            <form (ngSubmit)="update(f)" #f="ngForm">
              <div class="formbold-mb-5">
                <div class="infield">
                  <label for="username" class="formbold-form-label">Username :</label>
                  <input type="text" name="username" id="username" class="formbold-form-input" [(ngModel)]="user.username" class="form-control" />
                </div>
                <label></label>
                <div class="infield">
                  <label for="email" class="formbold-form-label">Email :</label>
                  <input type="text" name="email" id="email" class="formbold-form-input" [(ngModel)]="user.email" class="form-control" />
                </div>
 <label></label>
                <div class="infield">
                  <label for="password" class="formbold-form-label">Password :</label>
                  <input type="password" name="password" id="password" class="formbold-form-input" [(ngModel)]="user.password"  class="form-control" />
                </div>
                <label></label>
             
  
            
              </div>
  
      
  
              <div class="parent">
                <button class="formbold-btn w-full">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  